<h2 class="h-unseparated">Locations</h2>
<p>
  {{#link-to "locations.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create a Location
  {{/link-to}}
</p>

<ul class="timeline-type-list">
  {{#each controller}}
    <li>
      {{#link-to "location" this}}
        <span class="glyphicon glyphicon-tower"></span>
        <span class="timeline-type-name">{{name}}</span>
      {{/link-to}}
    </li>
  {{else}}
    There are no locations.
  {{/each}}
</ul>

{{outlet}}
