<h2 class="h-unseparated">Locations</h2>
<p>
  {{#link-to "locations.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create a Location
  {{/link-to}}
</p>

<ul>
  {{#each controller}}
    <li>{{#link-to "location" this}}{{name}}{{/link-to}}</li>
  {{else}}
    There are no locations.
  {{/each}}
</ul>

{{outlet}}
