<h2 class="h-unseparated">Locations</h2>
<p>
  {{#link-to "locations.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create a Location
  {{/link-to}}
</p>

<ul class="card-list">
  {{#each controller}}
    <li>
      {{card-location location=this}}
    </li>
  {{else}}
    There are no locations.
  {{/each}}
</ul>

{{outlet}}
