@import "bootstrap";
@import "variables";

.main-container { margin: 51px 0 40px; }
#navbar .nav a.active { color: $white; }
input, select, textarea { max-width: 100%; }

.sidebar-info {
  background: $very-dark;
  @include border-bottom-radius(10px);
  @include box-shadow(0 0 3px $very-dark);
}
