@import "bootstrap";
@import "variables";

.events_timeline {
  position: relative;
  height: 7px;
  color: $dark;
  background: $black;
  border: 1px solid $medium;
  .events_timeline_event {
    position: absolute;
    height: 5px;
    background: $light;
    cursor: pointer;
    &:nth-child(5n+1) {
      background: $pal-1;
      &:hover, .events_timeline_indicator { background: darken($pal-1, 20%); }
    }
    &:nth-child(5n+2) {
      background: $pal-2;
      &:hover, .events_timeline_indicator { background: darken($pal-2, 20%); }
    }
    &:nth-child(5n+3) {
      background: $pal-3;
      &:hover, .events_timeline_indicator { background: darken($pal-3, 20%); }
    }
    &:nth-child(5n+4) {
      background: $pal-3;
      &:hover, .events_timeline_indicator { background: darken($pal-3, 20%); }
    }
    &:nth-child(5n+5) {
      background: $pal-5;
      &:hover, .events_timeline_indicator { background: darken($pal-5, 20%); }
    }
    &:hover {
      background: #999;
      .events_timeline_detail { display: block; }
    }
  }
  .events_timeline_indicator {
    width: 5px;
    height: 5px;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }
  .events_timeline_detail {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    background: $white;
    cursor: default;
    width: 100%;
    min-width: 250px;
    margin: 5px 0 0;
    padding: 5px;
    border: 1px solid #ccc;
  }
}
