@import "bootstrap";
@import "variables";

.events_timeline {
  position: relative;
  height: 7px;
  color: $light;
  background: $black;
  border: 1px solid $medium;
  .events_timeline_event {
    position: absolute;
    height: 5px;
    background: $light;
    cursor: pointer;
    &:nth-child(5n+1) {
      background: $pal-1;
      &:hover, .events_timeline_indicator { background: darken($pal-1, 20%); }
    }
    &:nth-child(5n+2) {
      background: $pal-2;
      &:hover, .events_timeline_indicator { background: darken($pal-2, 20%); }
    }
    &:nth-child(5n+3) {
      background: $pal-3;
      &:hover, .events_timeline_indicator { background: darken($pal-3, 20%); }
    }
    &:nth-child(5n+4) {
      background: $pal-4;
      &:hover, .events_timeline_indicator { background: darken($pal-4, 20%); }
    }
    &:nth-child(5n+5) {
      background: $pal-5;
      &:hover, .events_timeline_indicator { background: darken($pal-5, 20%); }
    }
    &:hover {
      background: #999;
      .events_timeline_detail { display: block; }
    }
  }
  .events_timeline_indicator {
    width: 5px;
    height: 5px;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }
  .events_timeline_detail {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    background: $very-dark;
    cursor: default;
    width: 100%;
    min-width: 250px;
    margin: 5px 0 0;
    padding: 10px;
    border: 1px solid $medium;
    @include border-bottom-radius(10px);
    @include box-shadow(0 0 3px $very-dark);
  }
}

ul.card-list {
  padding: 0;
  list-style: none;
  @include clearfix;
  & > li, & > .card-content > li {
    margin: 0 10px 10px 0;
    float: left;
    &:nth-child(5n+1) a {
      color: $pal-1;
      &:hover { color: darken($pal-1, 20%); }
    }
    &:nth-child(5n+2) a {
      color: $pal-2;
      &:hover { color: darken($pal-2, 20%); }
    }
    &:nth-child(5n+3) a {
      color: $pal-3;
      &:hover { color: darken($pal-3, 20%); }
    }
    &:nth-child(5n+4) a {
      color: $pal-4;
      &:hover { color: darken($pal-4, 20%); }
    }
    &:nth-child(5n+5) a {
      color: $pal-5;
      &:hover { color: darken($pal-5, 20%); }
    }
  }
  .cap {
    width: 86px;
    height: 100px;
    line-height: 86px;
    text-align: center;
  }
  .cap-started { border-right: 1px $very-dark solid;  }
  .cap-ended { border-left: 1px $very-dark solid; }
}

.card-item {
  a {
    display: block;
    &:hover { text-decoration: none; }
    overflow: hidden;
    width: 86px;
    height: 100px;
    padding: 10px;
    background: $very-dark;
    @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    @include box-shadow(0 0 3px $very-dark);
  }
  .glyphicon {
    display: block;
    text-align: center;
    font-size: 36px;
  }
  .card-name {
    display: block;
    text-align: center;
  }
}

.global-timeline {
  background: $very-dark;
  padding: 10px;
  margin: 10px 0 0;
  @include border-top-radius(10px);
  @include border-bottom-radius(10px);
  @include box-shadow(0 0 3px $very-dark);
  .location-timeline {
    margin: 10px 0;
    padding: 20px 0;
    border-top: 1px dashed $medium;
    &:nth-child(5n+1) {
      .location-name { color: $pal-1; }
      .location-events > .positioned-in-timeline { border-color: $pal-1; }
    }
    &:nth-child(5n+2){
      .location-name { color: $pal-2; }
      .location-events > .positioned-in-timeline { border-color: $pal-2; }
    }
    &:nth-child(5n+3) {
      .location-name { color: $pal-3; }
      .location-events > .positioned-in-timeline { border-color: $pal-3; }
    }
    &:nth-child(5n+4) {
      .location-name { color: $pal-4; }
      .location-events > .positioned-in-timeline { border-color: $pal-4; }
    }
    &:nth-child(5n+5) {
      .location-name { color: $pal-5; }
      .location-events > .positioned-in-timeline { border-color: $pal-5; }
    }
  }
  .events-timelines > .positioned-in-timeline {
    margin: 5px 0 15px;
    &:nth-child(5n+1) {
      border-color: $pal-1;
      .event-name, .event-characters { color: $pal-1; }
    }
    &:nth-child(5n+2){
      border-color: $pal-2;
      .event-name, .event-characters { color: $pal-2; }
    }
    &:nth-child(5n+3) {
      border-color: $pal-3;
      .event-name, .event-characters { color: $pal-3; }
    }
    &:nth-child(5n+4) {
      border-color: $pal-4;
      .event-name, .event-characters { color: $pal-4; }
    }
    &:nth-child(5n+5) {
      border-color: $pal-5;
      .event-name, .event-characters { color: $pal-5; }
    }
  }
  .event-name, .character-name { position: absolute; }
}

.positioned-in-timeline {
  border-top: 1px solid $light;
  padding-top: 5px;
}
