$black:     #000;
$white:     #fff;
$blue:      #69c;

$very-dark: #111;
$dark:      #333;
$medium:    #777;
$light:     #ccc;

$timeline0: #99f;
$timeline1: #9ff;
$timeline2: #9f9;
$timeline3: #ff9;
$timeline4: #f99;
$timeline5: #f9f;
