$black:     #000;
$white:     #fff;
$blue:      #69c;

$very-dark: #111;
$dark:      #333;
$medium:    #777;
$light:     #ccc;

$pal-1:     #66A6C1;
$pal-2:     #E12E4E;
$pal-3:     #88E14E;
$pal-4:     #F0B831;
$pal-5:     #9C209C;
// c/o http://paletton.com/#uid=c3r135w2D0kptu4fIFUkRx4tHpNvNkp
// and http://paletton.com/#uid=c2R0u4W230kptu4fIFUkRx4tHpNvNkp
