<h2 class="h-unseparated">Characters</h2>
<p>
  {{#link-to "characters.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create a Character
  {{/link-to}}
</p>

<ul>
  {{#each controller}}
    <li>{{#link-to "character" this}}{{name}}{{/link-to}}</li>
  {{else}}
    There are no characters.
  {{/each}}
</ul>


{{outlet}}
