<h2 class="h-unseparated">Characters</h2>
<p>
  {{#link-to "characters.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create a Character
  {{/link-to}}
</p>

{{characters-list characters=this}}

{{outlet}}
