<h2 class="h-unseparated">Characters</h2>
<p>
  {{#link-to "characters.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create a Character
  {{/link-to}}
</p>

<ul class="timeline-type-list">
  {{#each controller}}
    <li>
      {{#link-to "character" this}}
        <span class="glyphicon glyphicon-user"></span>
        <span class="timeline-type-name">{{name}}</span>
      {{/link-to}}
    </li>
  {{else}}
    There are no characters.
  {{/each}}
</ul>


{{outlet}}
