<h2 class="h-unseparated">Events</h2>
<p>
  {{#link-to "events.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create an Event
  {{/link-to}}
</p>

<ul class="timeline-type-list">
  {{#each controller}}
    <li>
      {{#link-to "event" this}}
        <span class="glyphicon glyphicon-fire"></span>
        <span class="timeline-type-name">{{name}}</span>
      {{/link-to}}
    </li>
  {{else}}
    There are no events.
  {{/each}}
</ul>

{{outlet}}
