<h2 class="h-unseparated">Events</h2>
<p>
  {{#link-to "events.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create an Event
  {{/link-to}}
</p>

<ul>
  {{#each controller}}
    <li>{{#link-to "event" this}}{{name}}{{/link-to}}</li>
  {{else}}
    There are no events.
  {{/each}}
</ul>

{{outlet}}
