<h2 class="h-unseparated">Events</h2>
<p>
  {{#link-to "events.new"}}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create an Event
  {{/link-to}}
</p>

<ul class="card-list">
  {{#each controller}}
    <li>
      {{card-event event=this}}
    </li>
  {{else}}
    There are no events.
  {{/each}}
</ul>

{{outlet}}
